RewriteEngine on

# Si l'url n'as pas d'extention, la completer par completer par .php
RewriteRule ^([a-zA-Z_]+(\/[a-zA-Z_]+)*)$ $1.php

ErrorDocument 404 /page404.php
ErrorDocument 500 /page404.php?error=500
ErrorDocument 400 /page404.php?error=400
ErrorDocument 401 /page404.php?error=401
ErrorDocument 403 /page404.php?error=403