h1 {
    display: flex;
    justify-content: center;
}

.imageindex {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imageindex img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

figure.imageindex figcaption {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2em;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
}

.texteintro {
    text-align: center;
    width: 80%;
    margin: 3em auto 2em;
    font-size: 1.2em; /* Ajusté pour une meilleure lisibilité */
}

@media (max-width: 768px) {
    .texteintro {
        width: 95%;
        font-size: 0.9em; /* Plus petite sur les écrans mobiles */
    }

    h1, .carousel-button, figcaption {
        font-size: 0.9em; /* Ajuste la taille de la police pour les petits écrans */
    }

    .carousel-slide {
        width: 150px; /* Taille réduite pour les diapositives sur les petits écrans */
        height: 150px;
    }
}

.carousel {
    overflow: hidden;
    position: relative;
    width: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.carousel-track-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: center;
    position: relative;
}

.carousel-track {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease-in-out;
    justify-content: flex-start;
}

.carousel-slide {
    flex: 0 0 auto;
    width: 200px;
    height: 200px;
    margin: 15px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 2;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}



.trailer {
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
    
}

@media (max-width: 917px) {
    .trailer {
        width: 100vw;
    }
    .trailer iframe {
        width: 100%;
        height: calc( 100vw * 517 / 919 );
    }
}