h1{
    display: flex;
    justify-content: center;
}

.imageindex {
    margin: 0; /* Retire les marges par défaut de la figure */
    height: 100vh; /* Assure que la figure prend toute la hauteur de la fenêtre de visualisation */
    display: flex;
    flex-direction: column; /* Organise le contenu de la figure en colonnes */
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    position: relative; /* Positionne la légende de manière absolue par rapport à la figure */
}

.imageindex img {
    width: 100vw; /* Prend toute la largeur de la fenêtre de visualisation */
    height: 100vh; /* Prend toute la hauteur de la fenêtre de visualisation */
    object-fit: cover; /* Assure que l'image couvre la figure sans perdre ses proportions */
    position: absolute; /* Positionne l'image absolument pour qu'elle soit derrière le texte */
    top: 0;
    left: 0;
    z-index: -1; /* Place l'image derrière le texte de la légende */
}

figure.imageindex figcaption {
    position: absolute; /* Positionne le texte sur l'image */
    bottom: 10%; /* Place le texte à 10% du bas de l'image */
    left: 50%; /* Centre le texte horizontalement */
    transform: translateX(-50%); /* Assure que le texte est centré par rapport à son propre centre */
    color: white; /* Change la couleur du texte pour une meilleure visibilité */
    font-size: 2em; /* Agrandit le texte pour qu'il soit lisible */
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7); /* Ajoute une ombre pour améliorer la lisibilité sur des images claires */
}


.carousel {
    overflow: hidden;
    position: relative;
    width: 65%; 
    display: flex;
    justify-content: center; /* centre les éléments horizontalement */
    align-items: center; /* centre les éléments verticalement */
    margin: 0 auto;
}

.carousel-track-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden; /* masque les éléments qui dépassent */
    justify-content: center; /* aligne les éléments au centre du conteneur */
    position: relative; /* positionne par rapport au carrousel */
}

.carousel-track {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease-in-out;
    justify-content: flex-start; /* aligne les éléments au début du carrousel */
}

.carousel-slide {
    flex: 0 0 auto; /* les éléments ne grandissent pas, ne rétrécissent pas et sont basés sur la largeur automatique */
    width: 200px; /* largeur de chaque slide */
    height: 200px; /* hauteur pour un cercle parfait */
    margin: 15px;
    border-radius: 50%; /* pour rendre le slide rond */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 100%; /* la largeur de l'iframe s'ajuste à celle du slide */
    height: 100%; /* la hauteur de l'iframe s'ajuste à celle du slide */
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 2;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.trailer {
    display: flex;
    
}