header {
    background: rgb(182, 120, 35);
    display: flex;
    padding: 0.5em 1em;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
}

img {
    vertical-align: middle;
}

header > img {
    height: 4em;
}

header a {
    color: rgb(240, 195, 0);
    text-decoration: none;
    border-radius: 2em;
    border: .1em solid rgb(240, 195, 0);
    padding: .4em 1.2em;
    margin: 0 .5em;
}

#user_icon {
    width: 2.4em;
    height: 2.4em;
    border-radius: 1.2em;
}

#right-header, #left-header, .data_user, .button_connection {
    display: flex;
    align-items: center;
}

#left-header, #right-header {
    flex: 1;
}
#right-header {
    justify-content: end;
}

#connexion {
    background: rgb(240, 195, 0);
    padding: .2em 1em;
    border-radius: .5em;
}
#connexion.connected .button_connection {
    display: none;
}
#connexion.disconnected .data_user {
    display: none;
}
#connexion button {
    border: none;
    background: none;
    color: black;
}
#connexion div.data_user button:last-child {
    padding-left: 0;
}
#connexion:hover, #connexion button:hover {
    cursor: pointer;
}

#connection_modal-background {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
#connection_modal-background p {
    text-align: center;
}
#connection_modal {
    position: fixed;
    width: 838px;
    max-height: 85vh;
    margin: 0;
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    background: rgb(255, 253, 238);
    padding: 2em;
    border-radius: .5em;
    max-height: 90vh;
    overflow: scroll;
}

#notification_modal {
    position: fixed;
    margin: 0;
    z-index: 10;
    left: 50%;
    top: -4em;
    transform: translate(-50%, 10em) scale(1);
    padding: 1em 2em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    flex-direction: column;
    transition: transform .15s ease-out;
    border: none;
}
#notification_modal button {
    text-decoration: underline;
    background: none;
    color: white;
    border: none;
    font-weight: bold;
}
#notification_modal.alertnotif {
    color: rgb(215, 151, 151);
}
.minified_modal {
    transform: translate(-50%, -50%) scale(0) !important;
}

#connection_modal > div {
    transition: transform .15s ease-out;
}
#connection_modal.connected #forms-conner {
    transform: scale(0);
    height: 0;
}
#connection_modal.disconnected #connection_infos {
    transform: scale(0);
    height: 0;
}
#connection_modal.connected {
    animation: 3s ease-in 1s infinite reverse both running slidein;
}
#connection_modal.disconnected {
    animation: 3s ease-in 1s infinite reverse both running slidein;
}

@keyframes connection_modal {
    from {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(0);
    }
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}



#forms-conner {
    display: flex;
    flex-direction: row;
    align-items: start;
}
#forms-conner input[type="submit"] {
    margin-left: auto;
    display: block;
 }
#forms-conner h4 {
    text-align: center;
}
#forms-conner > form {
    padding: 0 2em;
    overflow: scroll;
    flex: 1;
}
#forms-conner form > div:not(.cookies_cb_div) label {
    font-weight: bold;
    margin-right: .5em;
}
#forms-conner input {
    flex-grow: 1;
}
#forms-conner div:not(.cookies_cb_div) {
    margin: 1em 0;
    display: flex;
    align-items: center;
}
.cookies_cb_div input {
    flex-grow: 0;
    margin-right: 1em;
}


#connection_infos p {
    margin: 0;
    padding: 0;
}

#ci_tableau_prix {
    margin: .7em 0 .7em 2em;
}
#ci_tableau_prix div {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
}
.ci_tp_title, .ci_tp_quantity {
    width: fit-content;
    white-space: nowrap;
}
#connection_infos .ci_tp_title {
    margin-right: 1em;
}
#connection_infos .ci_tp_quantity {
    margin-left: 1em;
}

.ci_tp_dash {
    flex-grow: 1;
    overflow: hidden;
}
.ci_total {
    text-align: right;
}

#disconnected_button {
    margin-top: 1em;
}

.icone-choice {
    height: 3em;
    border-radius: 100%;
    padding: .15em;
}
.icone-choice:hover {
    cursor: pointer;
}
#icone-choice-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: .3em;
}
#iconea2 {
    display: none;
}
#icon-selected {
    flex: 1;
    text-align: right;
}
.icone-choice-selected {
    outline: .1em solid rgb(0, 0, 0);
}
.burger_menu {
    display: none;
}

@media (max-width: 610px) {
    #left-header, #right-header {
        display: none;
    }
    .burger_menu {
        display: inline;
        flex: 1;
    }
    .burger_menu:not(.burger_menu_void) {
        display: flex;
        justify-content: end;
        margin-right: 1em;
        align-items: center;
    }
    .burger_menu > input {
        appearance: none;
        border: none;
        height: 1.5em;
        width: 1.5em;
        padding: .2em;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' viewBox='0 -960 960 960' width='20'%3E%3Cpath d='M154-272v-67h652v67H154Zm0-175v-67h652v67H154Zm0-175v-67h652v67H154Z'/%3E%3C/svg%3E") no-repeat center center;
        transition: transform .15s ease-out;
    }
    .burger_menu > input:checked {
        appearance: none;
        border: none;
        height: 1.5em;
        width: 1.5em;
        padding: .2em;
        transform: rotate(90deg);
    }
    .full-displayed {
        flex-direction: column;
        gap: 1em;
        align-items: center;
    }
    .full-displayed #left-header, .full-displayed #right-header {
        display: flex;
        height: auto;
    }
    .full-displayed > img {
        display: none;
    }
}

@media (max-width: 1085px) {
    #connection_modal-background {
        position: fixed;
        display: none;
        background: black;
        z-index: 12;
        height: fit-content;
        width: fit-content;
        padding: .5em 1em;
        border-radius: 1em;
        left: 50%;
        top: 2em;
        transform: translate(-50%, 0);
    }
    #connection_modal-background p {
        display: inline;
    }
    #connection_modal {
        width: 100vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow: scroll;
        left: 0;
        top: 0;
        transform: translate(0, 0);
        border-radius: 0;
        padding: 0;
        border: none;
    }
    #forms-conner, #connection_infos {
        flex-direction: column;
    }
    #forms-conner {
        margin: 3em 10vw 8em 10vw;
    }
    #connection_infos {
        margin: 6em 10vw 8em 10vw;
    }
}



/*-----------FOOTER-----------*/




.site-footer {
    background: rgb(182, 120, 35);
    color: white;
    padding: 40px 0;
    font-size: 14px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    text-align: center;
}

.footer-section {
    margin-right: 30px;
}

.footer-section h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(240, 195, 0);
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #FFD700; /* couleur dorée */
}

.social-links img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.social-links img:hover {
    transform: scale(1.1);
}

.footer-bottom {
    text-align: center;
    font-size: 12px;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }
}