body {
    margin: 0;
    padding: 0;
    background-image: url('img/page-404.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

@font-face {
    font-family: 'MaPolicePersonnalisée';
    src: url('fonts/HOMINIS.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.titre-erreur {
    font-family: 'MaPolicePersonnalisée', sans-serif;
}
